body{
    background-color:#0b3319;
    color:#fff;
    font-family:(--font-base),sans-serif;
}

h1,h2,h3,h4,h5,h6{
    color: #fff;
    font-weight: 700;
}
h1{
    text-decoration: underline;
}

a{
    text-decoration: none;
    color:#ffd500;
    transition:all 0.4s ease;
}

a:hover{
    color:#f48c06;
}

img{
    width:100%;
}

.bg-base{
    background-color: #15751e;
}

.text-brand{
    color:#f48c06;
}

.full-height{
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    border: 2px solid rgba(255,255,255,0.1);
}
.shadow-effect{
    transition: all 0.5s;
}

.shadow-effect:hover{
    box-shadow: -6px 6px 0 0 #f48c06;
}

.iconbox{
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    background-color: #ffff80;
    color: #002d67;
}

.navbar{
    background-color: #002d67;
}
.navbar .nav-link{
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

.navbar .nav-link:hover{
    color: #f48c06;
}

.navbar .nav-link.active{
    color:#f48c06;
}


@media (min-width: 992px) {
    .navbar{
        min-height: 100vh;
        width:240px;
        background:linear-gradient(rgb(21, 117, 30, 0.7),rgb(21, 117, 30, 0.7)),url(../images/sidebar.jpg);
        background-size: cover;
        background-position: center;
    }

    .navbar-brand img{
        border: 8px solid #f48c06;
    }

    #content-wrapper{
        padding-left: 240px;
    }
}

.btn{
    padding: 12px 28px;
    font-weight: 700;
}


.btn-brand{
    background-color: #ffd500;
    border-color: #ffd500;
    color:#000;
}

.btn-brand:hover,
.btn-brand:focus{
    background-color: #f48c06;
    color:#000;
    border-color: #f48c06;
}

.link-custom{
    font-weight: 700;
    position:relative;
}

.link-custom::after{
    content: "";
    width: 0;
    height:2px;
    background-color: #ffd500;
    position: absolute;
    left: 0;
    top: 110%;
    transition: all 0.4s;
}

.link-custom:hover::after{
    width: 100%;
}

.bar{
    font-size: 23px;
}

.bars .bar{
    margin: 48px 0;
}

.bars .bar .progress-line{
    position: relative;
    border-radius: 10px;
    width: 100%;
    height:5px;
    background: rgba(255, 255, 255, 0.2);
}

.bars .bar .progress-line span{
    height: 100%;
    background-color:#ffd500;
    position: absolute;
    border-radius: 10px;
}
.bars .html span{
    width:90%;
}
.bars .css span{
    width:60%;
}
.bars .js span{
    width:20%;
}
.bars .bootstrap span{
    width:55%;
}
.icon{
    color:#f48c06;
    font-weight: 400;
    font-size: 32px;
}
.bars .bar span{
    font-size: 30px;
}
.per{
    font-size: 20px;
    color:#fff;
    font-weight: 400;
}

.card-custom .card-custom-image{
    overflow: hidden;
}

.card-custom .card-custom-image img{
    transition: all 0.4s ease;
}

.card-custom:hover .card-custom-image img{
    transform: scale(1.1);
}

#contact .form-control{
    background-color: #15751e;
    border-color: #15751e;
    color: #fff;
}

#contact .form-control:focus{
    box-shadow:none;
}

#contact .form-control::placeholder{
    color: #fff;
}

#contact input.form-control{
    height:44px;
}

.contacticon{
    color:#f48c06;
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 20px;
}
.contacticon:hover{
    color:#ffd500;
    text-decoration: underline #f48c06;
}

.homeicon{
    color:#f48c06;
    font-weight: 600;
    font-size: 35px;
}
.homeicon:hover{
    color:#ffd500;
}